@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style the navigation buttons */
nav a {
    text-decoration: none;
}
nav {
    padding: 1rem;
    display: flex;
    background-color: transparent;
}

.ham-menu {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    cursor: pointer;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #575757;
    border-radius: 25px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(2) {
    top: 50%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.header .button-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 1rem;
    background-color: #151515;
    border-radius: 10px;
}

.header .menu-icon {
    display: none;
}

.header .menu-icon svg {
    fill: #fff;
}

@media (max-width: 768px) {
    .ham-menu {
        display: block;
    }
    .header .button-container {
        display: none;
    }
}

.ham-menu.active + .button-container {
    display: flex;
}

.header .button-container {
    display: none;
}

@media (min-width: 768px) {
    .header .button-container {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        box-shadow: none;
    }
    .ham-menu {
        display: none;
    }
}

.button-container {
    display: flex;
    background-color: #151515;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    animation: slide 1s;
}

.button {
    outline: 0;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    animation: slide 1s;
}

.button:hover {
    transform: translateY(-3px);
}



