@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  font-family: Verdana, sans-serif;
  transition: opacity 1s ease;
  color: #8f8f8f;
}

p,h1, h2,h3 ,h4{
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: Verdana, sans-serif;
  animation: 1s;
  color: #b7b7b7;
}



/* Apply styles to the header */
header {
  background-color: transparent;
  color: transparent;
  text-align: center;

}

.bio-max {
  text-align: center;
}



/* Style the navigation buttons */
nav a {
  text-decoration: none;
}
nav {
  padding: 1rem;
  display: flex;
  background-color: transparent;
}

.ham-menu {
  height: 24px;
  width: 24px;
  margin-left: auto;
  position: relative;
  display: none; /* Hide by default */
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #575757;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(2) {
  top: 75%;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.header .button-container {
  display: none; /* Hide by default */
}
.header .menu-icon {
  display: none; /* Hide by default */
  cursor: pointer;
  position: absolute;
  left: 12px;
}
.header .menu-icon svg {
  fill: #fff;
}
@media (max-width: 768px) {
  .ham-menu {
    display: block; /* Show ham-menu on small screens */
  }
  .header .menu-icon {
    display: block; /* Show menu-icon on small screens */
  }
  .header .button-container {
    display: none; /* Keep button-container hidden */
  }
}
.ham-menu.active + .button-container {
  display: flex; /* Show button-container when ham-menu is active */
}
.header .button-container {
  display: none;
}
.header .menu-icon {
  display: block;
  cursor: pointer;
  position: absolute;
  left: 10px;
}
.header .menu-icon svg {
  fill: #fff;
}
@media (min-width: 768px) {
  .header .button-container {
    display: flex
  }
  .header .menu-icon {
    display: flex;
  }

}
.button-container {
  display: flex;
  background-color: #151515;
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px,
  rgba(73, 136, 245, 0.5) 5px 10px 15px;
  animation: slide 1s
}

.button {
  outline: 0;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  animation: slide 1s
}

.button:hover {
  transform: translateY(-3px);
}


/* Main page social links */
.social {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.social .social-item {
  margin: 0 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 2s;
}

.social .social-item .social-link {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
  translate(0, 0);
  transition: all 0.4s ease;
}

.social .social-item .social-link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewY(-45deg);
}

.social .social-item .social-link::after {
  content: "";
  position: absolute;
  top: 40px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: #b1b1b1;
  transition: all 0.4s ease;
  transform: rotate(0deg) skewX(-45deg);
}

.social .social-item .social-link:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
  box-shadow: -20px 20px 10px rgba(73, 136, 245, 0.35);
}

.social .social-item:nth-child(1) a {
  color: rgb(0, 0, 0);
}

.social .social-item:nth-child(1):hover a {
  background: rgba(215, 215, 215, 0.17);
}

.social .social-item:nth-child(1):hover a::before {
  background: rgba(215, 215, 215, 0.17);
}

.social .social-item:nth-child(1):hover a::after {
  background: rgba(215, 215, 215, 0.17);
}

.social .social-item:nth-child(2) a {
  color: rgb(55, 106, 238);
}

.social .social-item:nth-child(2):hover a {
  background: rgba(73, 136, 245, 0.5);
}

.social .social-item:nth-child(2):hover a::before {
  background: rgba(73, 136, 245, 0.5);
}

.social .social-item:nth-child(2):hover a::after {
  background: rgba(73, 136, 245, 0.5);
}

.social .social-item:nth-child(3) a {
  color: #dd4b39;
}

.social .social-item:nth-child(3):hover a {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::before {
  background: #dd4b39;
}

.social .social-item:nth-child(3):hover a::after {
  background: #dd4b39;
}

.social .social-item:nth-child(4) a {
  color: #e4405f;
}

.social .social-item:nth-child(4):hover a {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::before {
  background: #e4405f;
}

.social .social-item:nth-child(4):hover a::after {
  background: #e4405f;
}

.social .social-item .social-link:hover {
  color: #ffffff;
}

.title {
  animation: slide 1s;
  text-align: center;
  margin-top: 50px;
}
.pinned-projects {
  animation: slide 1s;
  position: absolute;
  text-align: center;
  margin-top: 110px;
  margin-left: 42%;
}
.bio-max {
  max-width: 500px;
  margin: 0 auto;
  animation: slide 1s;
}
.bio {
  text-align: left;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translatey(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



