@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: #151515;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: opacity 1s ease;
    color: #8f8f8f;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 20px;
}

p, h1, h2, h3, h4 {
    margin: 0;
    padding: 2%;
    background-color: transparent;
    color: #b7b7b7;
}

a {
    text-decoration: none;
    color: rgba(73, 136, 245, 0.85);
}

header {
    background-color: transparent;
    color: #fff;
    text-align: left;
    width: 100%;
}

.title {
    animation: slide 2s ease-out;
    margin-top: 50px;
    text-align: left;
}

.bio-max {
    max-width: 500px;
    animation: slide 2s ease-out;
    text-align: left;
}

.bio {
    text-align: left;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-me {
    max-width: 500px;
    animation: slide 2s ease-out;
    text-align: left;
    margin-top: 20px;
}

.title-about {
    margin-top: 50px;
    animation: slide 2s ease-out;
    text-align: left;
}

.about-p {
    margin: 0;
    padding: 2%;
    background-color: transparent;
    font-family: "NTR", sans-serif;
    color: #b7b7b7;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    animation: slide 2s ease-out;
}

/* Footer */
.footer {
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    color: rgba(87, 87, 87, 0.78);
}

