@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    font-family: "Poppins", sans-serif;
    transition: opacity 1s ease;
    color: #8f8f8f;
    display: grid;
    place-items: center;
    align-self: flex-start;

}

p,h1, h2,h3 ,h4{
    margin: 0;
    padding: 2%;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    color: #b7b7b7;
    animation: slide 2s;
}
a{
    text-decoration: none;
    color: rgba(73, 136, 245, 0.85);
}



/* Apply styles to the header */
header {
    background-color: transparent;
    color: transparent;
    text-align: center;
}
.title {
    animation: slide 2s;
    text-align: center;
    margin-top: 50px;
}
.craft-title {
    animation: slide 2.5s ease-out;
    text-align: center;
    margin-top: 10%;
}
.craft {
    max-width: 100%;
    animation: slide 2s ease-out;
    text-align: center;
    font-weight: lighter;
    color: #b7b7b7;
    line-height: 1.5;
    font-size: 20px
}


.abouthover {
    color: #4169e1;
}
.abouthover:hover {
    color: #86a3ff;
}


.crafth4 a {
    color:#b7b7b7;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.crafth4 a:hover {
    color: #868686;
}

.crafth4 a:hover span:last-child {
    color: #696868;
}

.craftspan {
    font-weight: lighter;
    color: #8d8d8d;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .craft h4 {
        display: flex;
        justify-content: flex-end;
        text-align: center;
        padding-top: 3%;
    }

    .craft a {
        display: block;
        width: 100%;
        color: #b7b7b7;
    }
    .crafth4 {
        color:#b7b7b7;
        display: block;
        justify-content: space-between;
        width: 100%;
    }


    .craft span {
        margin-left: 0;
        margin-right: 10px;
        font-weight: lighter;
        color: #8d8d8d;
        text-align: right;
    }
    .craft h4 a span:first-child {
        font-weight: bold;
        color: #b7b7b7;
        text-align: center;
    }

    .craft h4 a span:last-child {
        font-weight: lighter;
        color: #8d8d8d;
        text-align: center;
    }
}


.login-ui {
    text-align: center;
    margin-top: 10%;
}
.login-date {
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

.bio-max {
    max-width: 500px;
    margin: 0 auto;
    animation: slide 2s;
    text-align: center;
    font-weight: lighter;
}
.bio {
    text-align: left;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes slide {
    from {
        opacity: 0;
        transform: translatey(10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.about-me {
    max-width: 750px;
    animation: slide 2s ease-out;
    text-align: left;
    margin-top: 20px;
}

.title-about {
    margin-top: 5%;
    animation: slide 2.5s ease-out;
    text-align: left;
}

.about-p {
    margin: 0;
    padding: 2%;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    color: #b7b7b7;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    animation: slide 2s ease-out;
}


/* Footer */
.footer {
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: -450px;
    width: 125%;
    margin-left: -10%;
}
.footer p {
    margin: 0;
    color: rgba(87, 87, 87, 0.78);
}


/* Program List */
.program-lang {
    max-width: 800px;
    padding: 2rem;
    animation: slide 2s ease-out;
    text-align: left;
}

.program-lang h2 {
    margin-bottom: 1rem;
    color: #cfcfcf;
    text-align: left;
}

.program-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: left;
}

.program-list li {
    position: relative;
    padding-left: 1.5rem;
    color: #ffffff;
    animation: slide 2s ease-out;
}

.program-list li::before {
    content: '►';
    position: absolute;
    left: 0;
    color: rgba(73, 136, 245, 0.85);
}

@media (max-width: 768px) {
    .program-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .program-list {
        grid-template-columns: 1fr;
    }
}
